*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color-bg);
    margin: 0; /* Removes default margin */
    height: 100%; /* Ensures the body takes up at least the viewport height */
}

html {
    scroll-behavior: smooth;
}